body > header {
    background-color: var(--card-color);
    padding-top: var(--medium);
    padding-bottom: var(--medium);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
body > header > div {
    display: flex;
    align-items: center;
}
body > header > div a {
    text-decoration: none;
}
body > header > div p {
    font-size: var(--large);
}
body > header > div img {
    height: var(--large);
}
header nav ul {
    list-style: none;
    display: flex;
    gap: var(--medium);
}
header nav ul li {
    width: min-content;
}
header nav ul a {
    text-decoration: none;
}
nav li:has(img.icon) {
    display: none;
}

@media screen and (max-width: 480px) {
    header nav ul li {
        display: none;
    }
    header nav ul li:has(img.icon) {
        display: inline;
    }
}