/* global */
@import url("../globals/global.css");

/* partials */
@import url("./partials/header.css");
@import url("./partials/footer.css");

main {
    margin: var(--large) var(--x-large);
    padding-top: var(--x-large);
    padding-bottom: var(--x-large);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--small);
}
main > article{
    display: flex;
    flex-direction: column;
    gap: var(--small);

    grid-column-start: 1;
    grid-column-end: 3;
}
main article #post_info {
    font-size: small;
    margin-bottom: var(--small);
}
main > article p:not(:first-of-type){
    margin: var(--small) 0 var(--small) 0;
}
article dt {
    margin-top: var(--medium);
}
article dd {
    margin-left: var(--large);
}
article section > div {
    height: fit-content;
    display: flex;
    gap: var(--small);
    align-items: center;
    justify-content: center;
    margin-bottom: var(--small);
}
article section > div:nth-of-type(2) {
    flex-direction: row-reverse;
}
article figure {
    width: calc(2*var(--xx-large));
    padding: var(--small);
    border: 1px solid #000;
    background-color: #fff;

    display: flex;
    flex-direction: column;

}
article figure img {
    max-height: calc(2*var(--xx-large));
    max-width: calc(2*var(--xx-large));
    background-color: var(--card-color);
}
article figure figcaption {
    text-align: center;
}
main > aside {
    padding: var(--large) var(--medium);
    background-color: var(--card-color);

    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--medium);
}
main > aside > section {
    display: flex;
    flex-direction: column;
    gap: var(--medium);
}
main aside article {
    text-align: left;
    font-size: calc(1em*0.8);
}
main aside > section:first-of-type * {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}
main aside article ul {
    list-style: none;
}
main aside > section:nth-of-type(2) article {
    display: flex;
    gap: var(--small);
}
main aside > section:nth-of-type(2) article img {
    padding-top: 1em;
    width: calc(1.25*var(--larger));
    height: calc(1.25*var(--larger));
    border-radius: 50%;
}
main aside > section:nth-of-type(2) article section{
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 0 var(--medium) var(--medium);
}
/* disable the hover efect of the 'emphasis-card' class */
main aside > section:nth-of-type(2) article section:hover {
    transform: none; 
}
main aside > section:nth-of-type(2) article section p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}
main aside > section:nth-of-type(2) article section p:not(:first-of-type) {
    display: none;
}
main aside > section:nth-of-type(2) article section small {
    position: absolute;
    bottom: -2px;
    align-self: flex-end;
}
#util {
    position: fixed;
    right: var(--small);
    bottom: var(--medium);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#anchor_top {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--card-color);
    height: calc(1.75*var(--large));
    width: calc(1.75*var(--large));
    border-radius: 50%;
}
#anchor_top img{
    transform: rotateZ(-90deg);
}
#reading_progress_info {
    font-size: small;
    max-width: calc(1.5*var(--x-large));
    
    display: flex;
    flex-direction: column;
}