/* global */
@import url("../globals/global.css");

/* partials */
@import url("./partials/testColor.css");
@import url("./partials/header.css");

main {
    margin: var(--large) var(--xx-large);
    padding-top: var(--x-large);
    padding-bottom: var(--x-large);
    display: grid;
    gap: var(--medium);
    grid-template-columns: 1fr 1fr;
}
.card {
    background-color: var(--card-color);
    height: var(--xxx-large);
    padding: var(--large); 
}
#discover-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#carousel {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--medium);
}
#carousel > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--small);
}
#carousel > div .icon:first-child {
    transform: rotateY(180deg);
}
#flag {
    height: var(--xx-large);
    width: calc(2 * var(--xx-large));
    background: var(--bisexual-color);
}

#understand-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#understand-card > section {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#understand-card > section > a {
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--larger);
}
#understand-card ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--medium);
}
#understand-card ul li {
    width: fit-content;
}
.emphasis-card {
    background-color: var(--emphasis-color);
    height: calc(1.5 * var(--x-large));
    width: 100%;
    padding: var(--medium);
    padding-left: var(--large);
    padding-right: var(--large);
    border-radius: var(--small);
}
.card-icon {
    height: var(--larger);
}
.card-icon:first-child {
    height: calc(1.4 * var(--larger));
}

#explore-card {
    grid-column-start: 1;
    grid-column-end: 3;
}

@media screen and (max-width: 1140px) {
    main {
        margin: var(--large) var(--large);
    }
}
@media screen and (max-width: 860px) {
    main {
        margin: var(--small);
    }
}
@media screen and (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }

    .card {
        height: 40vh;
        padding: var(--medium);
    }

    #carousel, #carousel > div, #flag {
        width: 100%;
    }
    #flag {
        max-width: calc(2 * var(--xx-large));
    }

    #explore-card {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .emphasis-card {
        padding-left: var(--medium);
        padding-right: var(--medium);
    }
}
@media screen and (max-width: 480px) {
    .card-icon {
        height: var(--large);
    }
    .card-icon:first-child {
        height: calc(1.4 * var(--large));
    }
}