/* global */
@import url("./normalize.css");
@import url("./variables.css");

li.rainbow-hover, .rainbow-hover li {
    position: relative;
}
.rainbow-hover a::after, .rainbow-hover p::after, .rainbow-hover h6::after, .rainbow-hover h5::after, .rainbow-hover h4::after, .rainbow-hover h3::after, .rainbow-hover h2::after, .rainbow-hover h1::after{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;

    width: 100%;
    height: var(--smaller);

    border-radius: 2px;
    background: var(--gradient-color);

    transform: scaleY(0);
    transition: 0.2s ease-in;
}
.rainbow-hover:hover a::after, .rainbow-hover:hover p::after, .rainbow-hover:hover h6::after, .rainbow-hover:hover h5::after, .rainbow-hover:hover h4::after, .rainbow-hover:hover h3::after, .rainbow-hover:hover h2::after, .rainbow-hover:hover h1::after{
    transform: scaleY(1);
}

.card {
    background-color: var(--card-color);
    padding: var(--large); 
}
.emphasis-card {
    background-color: var(--emphasis-color);
    padding: var(--medium);
    padding-left: var(--large);
    padding-right: var(--large);
    border-radius: var(--small);

    transition: 0.4s;
}
.emphasis-card:hover {
    transform: scale(104%);
}
.icon {
    height: var(--large);
    width: var(--large);
}
.see-more {
    font-size: var(--medium);
    color: #01010180;
}
.lateral-padding {
    padding-left: var(--x-large);
    padding-right: var(--x-large);
}
.drop-shadow {
    box-shadow: 1px 8px 8px #00000044;
}

@media screen and (max-width: 960px) {
    .lateral-padding {
        padding: var(--large) var(--larger);
    }
}
@media screen and (max-width: 768px) {
    .lateral-padding {
        padding: var(--medium) var(--large);
    }
}