/* global */
@import url("./normalize.css");
@import url("./variables.css");

.rainbow-hover::after{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;

    width: 100%;
    height: var(--smaller);

    border-radius: 2px;
    background: var(--gradient-color);

    transform: scaleY(0);
    transition: 0.2s ease-in;
}
.rainbow-hover:hover::after {
    transform: scaleY(1);
}

.icon {
    height: 24px;
    width: 24px;
}

.lateral-padding {
    padding-left: var(--x-large);
    padding-right: var(--x-large);

}
.drop-shadow {
    box-shadow: 1px 8px 8px #00000044;
}
@media screen and (max-width: 768px) {
    .margin {
        padding: var(--medium) var(--large);
    }
}